@using Tsg.UI.Main.App_LocalResources
@using Tsg.UI.Main.Models.Security
@model Tsg.UI.Main.Models.UserResetModel

@{
    ViewBag.Title = GlobalRes.GlobalRes_User_ResetPasswordPage_Title;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="/Content/assets/vendor/jquery/jquery.js"></script>

@*@using (Html.BeginForm("ResetPassword", "User"))
    {*@
<div class="form-horizontal">
    <section class="panel panel-featured panel-featured-info">
        <header class="panel-heading">
            <h2 class="panel-title">@GlobalRes.GlobalRes_User_ResetPasswordPage_Title</h2>
            <p class="panel-subtitle">@GlobalRes.GlobalRes_User_ResetPasswordPage_SubTitle</p>
        </header>
        <div class="panel-body">
            @if (Model.IsSuccessResForAction != null && (bool)Model.IsSuccessResForAction)
            {
                <div class="alert alert-success" style="display: block;" id="successMessageBlock">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <p class="m-none text-weight-semibold h6" id="successMesage">@Model.ActionResultText</p>
                </div>
            }
            else if (Model.IsSuccessResForAction != null && !(bool)Model.IsSuccessResForAction)
            {
                <div class="alert alert-danger" style="display: block;" id="errorMessageBlock">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <p class="m-none text-weight-semibold h6" id="errorMesage">@Model.ActionResultText</p>
                </div>
            }
            <div class="validation-message">
                <ul></ul>
            </div>

            @{
                var hiddenClass = "hidden-xs";
            }
            <table class="table table-bordered table-striped table-condensed mb-none" id="datatable-default">
                <thead>
                <tr>
                    <th class="@hiddenClass">@GlobalRes.UsersResetPasswordPage_Id</th>
                    <th class="@hiddenClass" hidden="">@GlobalRes.UsersResetPasswordPage_Id</th>
                    <th>@GlobalRes.UsersResetPasswordPage_UserName</th>
                    <th>@GlobalRes.UsersResetPasswordPage_FirstName</th>
                    <th>@GlobalRes.UsersResetPasswordPage_LastName</th>
                    <th>@GlobalRes.UsersResetPasswordPage_LastLogOnDate</th>
                    @*<th>@GlobalRes.UsersResetPasswordPage_BranchOrCustomerName</th>*@
                    <th>@GlobalRes.UsersResetPasswordPage_Action</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var i = 0;
                    foreach (var item in Model.UserList)
                    {
                        i += 1;
                        <tr>
                            <td class="@hiddenClass">
                                @i
                            </td>
                            <td class="@hiddenClass" hidden="" id=@String.Format("userId_{0}", item.UserId)>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastLogOnDate)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.BranchOrCustomerName)
                            </td>*@
                            <td>
                                @*<a class="fas fa-pencil-alt" aria-hidden="true" style="text-decoration: none; font-size: 18px" data-toggle="modal" data-target="#editModal" onclick="tbtEdit(@item.UserId);"
                                   id=@String.Format("btnEditModal{0}", item.UserId)>
                                </a>*@
                                <a class="btn btn-info @(item.Username.ToLower() == AppSecurity.CurrentUser.UserName.ToLower()? "hidden": String.Empty)" data-toggle="modal" data-target="#resetModal" onclick="resetPassword('@item.UserId', '@item.Username');" id='@String.Format("btnGenerateModal{0}", item.UserId)'>
                                    @GlobalRes.UsersResetPasswordPage_BtnResPassword
                                </a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
            
            <!-- Modal ResetPassword Begin -->
            <form id="Create" action="/User/ResetPasswordForUser" method="post" class="form-horizontal" novalidate="novalidate">
                <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                    @Html.HiddenFor(m => m.UserId, new { id = "UserID" })
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="/Content/assets/images/winstantpay-logo-notag.png" height="35" alt="" />
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 5px">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">@GlobalRes.UsersResetPasswordPage_UserPassword <strong><span id="Username"></span></strong></div>
                                         @*<div class="col-sm-4" style="margin-top: 3px">@GlobalRes.UsersResetPasswordPage_UserPassword</div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="UserPassword" name="UserPassword" />
                                    </div>*@
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">@GlobalRes.UsersResetPasswordPage_Reset</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">@GlobalRes.UserResetPasswordPage_ModalResetRec_Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Modal ResetPassword End -->
            <script>
                function resetPassword(userId, userName) {
                    $('#UserID').val(userId);
                    $('#Username').val(userId);
                    $('#Username').html(userName);

                    $('#UserPassword').focus();
                    @*$.post("@Url.Action("ResetPasswordForUser", "User")?userId="+userId);*@
                }
            </script>
        </div>
    </section>
    
</div>

@section customcss {
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/Content/assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="/Content/assets/vendor/select2-bootstrap-theme/select2-bootstrap.css" />
    <link rel="stylesheet" href="/Content/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
}

@section VendorScripts {

    <script src="/Content/assets/vendor/select2/js/select2.js"></script>
    <script src="/Content/assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="/Content/assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="/Content/assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
}

@section Scripts {
    <script src="/Content/assets/javascripts/tables/examples.datatables.default.js"></script>
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        //setTimeout(function () { $('#successMessageBlock').css("display", "none") }, 10000);
        //setTimeout(function () { $('#errorMessageBlock').css("display", "none") }, 3000);
    });
</script>