@using Tsg.UI.Main.App_LocalResources
@using TSG.Models.Enums@model System.Collections.Generic.IEnumerable<TSG.Models.ServiceModels.Shop.ShopOrders>

    @{
        ViewBag.Title = GlobalRes.OrdersList_Title;
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
        var cryptoCurrency = new[] { "BTC", "ETH" };
    }

<div class="mg-main">
    <div class="row">
        <section class="panel">

            <header class="panel-heading" data-panel-toggle="">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>

                <h2 class="panel-title">@GlobalRes.OrdersList_Title</h2>
                <p class="panel-subtitle">@GlobalRes.OrdersList_SubTitle</p>
            </header>

            <div class="panel-body" style="display: block;">
                <table class="table table-bordered table-striped table-condensed mb-none" id="datatable-default">
                    <tr>
                        <th>@GlobalRes.OrdersList_OrderId</th>
                        <th>@GlobalRes.OrdersList_CreationDate </th>
                        <th>@GlobalRes.OrdersList_Details</th>
                    </tr>
                    @foreach (var item in Model.OrderByDescending(ob => ob.ShopOrders_OrderCounter))
                    {
                        <tr>
                            <td>@item.ShopOrders_OrderCounter</td>
                            <td>@item.ShopOrders_CreateDate</td>
                            <td>
                                <a class = "fa fa-eye" aria-hidden = "true" style = "text-decoration: none; font-size: 18px" data-toggle = "modal" data-target = "#viewOrder" onclick = "callViewItem('@item.ShopOrders_ID');" id = "viewOrderBtn" ></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    function callViewItem(id) {
        console.log(id);
        $.ajax({
            url: '@Url.Action("GetOrderDetailtById", "ShoppingCart")',
                            type: 'POST',
                            data: { "orderId": id },
                            success: function(data) {
                                console.log(data);
                                $("#viewOrder").html(data);
                                //updateBasket();
                            }
                        });
    }
</script>    
<div class="modal fade" id="viewOrder" tabindex="-1" role="dialog" style="left: 10%; right: 10%;" aria-labelledby="viewOrder" aria-hidden="true">

</div>