@using Tsg.UI.Main.App_LocalResources
@model Tsg.UI.Main.Models.WelcomeMessageModel

@{
    ViewBag.Title = GlobalRes.WelcomeMessage_AddWelcomeMessagePage_Title;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <section class="panel  @(ViewBag.OpenPanel != null ? "" : "panel-featured panel-featured-info")">

            <header class="panel-heading" data-panel-toggle="">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                </div>

                <h2 class="panel-title">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_Title</h2>
                <p class="panel-subtitle">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_SubTitle</p>
            </header>

            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmForUser</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @readonly = "readonly", required = "" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmText <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessage, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmTextFr <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessageFr, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmTextRu <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessageRu, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmTextPh <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessagePh, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmTextAe <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessageAe, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmTextTh <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessageTh, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmTextKh <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessageKh, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_WmTextCn <span class="required" aria-required="true">*</span><br /><small>1000 chars max</small></label>
                    <div class="col-sm-6">
                        @Html.TextAreaFor(m => m.WelcomeMessageCn, 6, 1, new { maxlength = 1000, @class = "form-control", required = "" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10" style="color:green">
                        @ViewBag.Message
                    </div>
                </div>

            </div>

            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <input type="submit" class="btn btn-success" value="@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_Add" />
                        <a class="btn btn-success" href="/WelcomeMessage/GetWelcomeMessages">@GlobalRes.WelcomeMessage_AddWelcomeMessagePage_BackToList</a>
                    </div>
                </div>
            </footer>

        </section>
    </div>
}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
