@using (Html.BeginForm(""))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Customer Create From Template</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        CustomerId
        <div class="col-md-10">
            @Html.TextBox("CustomerId", String.Empty, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        Email Address
        <div class="col-md-10">
            @Html.TextBox("EmailAddress", String.Empty, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        User Name
        <div class="col-md-10">
            @Html.TextBox("UserName", String.Empty, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        First Name (already in the first step)
        <div class="col-md-10">
            @Html.TextBox("FirstName", String.Empty, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        Last Name (already in the first step)
        <div class="col-md-10">
            @Html.TextBox("LastName", String.Empty, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <p>
        @ViewBag.Result
    </p>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
            <a href="@Url.Action("UserAccessRightTemplateLink")" target="_blank">User Access Right Template Link </a>

        </div>
    </div>
</div>
}