@model dynamic

@*@if (Model.IntegrateJsIntoSite)
{
    <script src="@Model.MerchantPathForJs"></script>
}*@
<style type="text/css">
    #ewallet {
        border: 2px solid #3b3f86;
        border-radius: 50px;
        padding: 10px;
        width: 250px;
        background: white;
    }

    #ewallet-min {
        border: 2px solid #3b3f86;
        border-radius: 50px;
        padding: 10px;
        width: 160px;
        background: white;
    }

    #ewallet-mid {
        border: 2px solid #3b3f86;
        border-radius: 50px;
        padding: 10px;
        width: 200px;
        background: white;
    }

        #ewallet:hover, #ewallet-mid:hover, #ewallet-min:hover {
            cursor: pointer;
        }

    #ewallet_text {
        float: left;
        margin-top: -4px;
        padding-left: 54px;
        font-weight: bold;
        margin-bottom: -12px;
        font-family: sans-serif;
        font-size: medium;
    }

    #ewallet_text-min {
        float: left;
        margin-top: -4px;
        padding-left: 35px;
        font-weight: bold;
        margin-bottom: -10px;
        font-family: sans-serif;
        font-size: x-small;
    }

    #ewallet_text-mid {
        float: left;
        margin-top: -4px;
        padding-left: 44px;
        font-weight: bold;
        margin-bottom: -10px;
        font-family: sans-serif;
        font-size: small;
    }
</style>

<div id="ewallet" type="submit" onclick="callus()">
    <p id="ewallet_text">check out with</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.88 101.91">
        <defs>
            <style>
                .cls-1 {
                    fill: #fff;
                }

                .cls-2 {
                    fill: #fffefd;
                }

                .cls-3 {
                    fill: #e36730;
                    stroke: #df4f10;
                }

                .cls-3, .cls-6 {
                    stroke-miterlimit: 10;
                }

                .cls-4, .cls-6 {
                    fill: #3c4088;
                }

                .cls-5 {
                    fill: #1b1f74;
                }

                .cls-6 {
                    stroke: #1b1f74;
                }
            </style>
        </defs>
        <title>Ewallet</title>
        <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="405.13 19 406.83 23.21 419.11 55.56 416.03 84.71 434.36 87.19 437.6 65.6 457.99 31.9 466.46 18.47 446.8 18.47 432.86 41.99 427.55 19 405.13 19" /><polygon class="cls-1" points="383.58 19 350.66 85.5 371.01 84.71 375.34 74.48 378.93 70.17 383.58 68.58 392.55 68.94 394.63 79.13 395.16 84.71 407.63 85.51 411.05 85.52 413.94 84.71 405.13 19 383.58 19" /><polygon class="cls-2" points="324.35 17.98 355.39 18.55 365.33 21.76 371.79 30.54 372.48 40.16 365.86 53.83 357.64 59.22 348.42 61.94 336.1 62.94 331.48 84.71 312.93 85.51 324.35 17.98" /><path class="cls-3" d="M27.25,52.64l3.44-16.56c1.22-5.87,2.51-11.72,3.6-17.61.4-2.14,1.38-2.93,3.52-2.87,4,.11,8,.17,12,0,2.79-.15,4,.84,4.47,3.62C56,29.52,58,39.81,59.9,50.12a10.69,10.69,0,0,0,.94,1.78c.5-1.7.89-2.73,1.1-3.8,1.7-8.7,3.34-17.41,5-26.11,1.34-6.83,1.37-6.82,8.43-6.11-2.53,9.94-1.22,13.46,7,17.77-1.75,6.73-3.53,13.57-5.3,20.42-2.28,8.82-4.65,17.62-6.76,26.47C69.73,83.13,68.57,84,66,83.88c-3.86-.18-7.75-.18-11.61,0-2.7.12-4-.67-4.48-3.56-1.73-10-3.76-19.86-5.69-29.78-.09-.45-.31-.88-1.23-1.49-.35,1.18-.77,2.35-1,3.55C39.84,62,37.72,71.36,35.77,80.77,35.3,83,34.33,83.93,32,83.87q-6.55-.19-13.12,0c-2.16.06-3.06-.8-3.55-2.86C10.57,60.72,5.69,40.46.89,20.18c-.94-4-.4-4.52,3.76-4.55,3.75,0,7.5.11,11.24-.06,2.62-.12,3.7.79,4.14,3.47,1.67,10.1,3.6,20.15,5.45,30.22.21,1.14.51,2.26.77,3.39Z" /><path class="cls-3" d="M372.48,40.16c1.3-12.38-4.66-20.38-17.09-21.61-7.43-.74-15-.44-22.46-.57-2.86-.05-5.72,0-8.58,0l-.18-1.26a31,31,0,0,1,5.5-.67c2.6.13,3.91-.6,4.13-3.4s1-5.4,1.4-8.11c.51-3.32,2.53-4.43,5.6-3.91a26.89,26.89,0,0,1,4.3,1.26c6.71,2.36,13.6,4.32,20.08,7.21A91.29,91.29,0,0,0,410,16.66c5.22-.39,10.5.05,15.74-.14,2.5-.09,3.56.81,4,3.2.75,3.79,1.72,7.55,2.79,11.27.27.94,1.25,1.67,1.91,2.49a10.34,10.34,0,0,0,2.05-1.92c2.46-4.06,4.66-8.28,7.31-12.21a6.41,6.41,0,0,1,4.28-2.58c5.48-.32,11-.17,16.49-.15,3.8,0,4.78,1.69,2.74,4.89-4,6.29-8.16,12.51-12.53,19.19,5.79,2.06,11.35,3.8,16.68,6.07,1.92.82,4.19,2.64,4.71,4.46.79,2.77-2,4-4.29,4.72-9.37,3.06-18.72,6.16-28.15,9-2.88.87-4.43,2.28-4.85,5.31-.61,4.45-1.58,8.84-2.31,13.28-.49,3-2,4.12-5.1,4.08-11.37-.16-22.75-.19-34.12,0-3.65.06-5.83-.65-5.33-4.82a7,7,0,0,0-.56-2c-4.68,1.38-9.29,2.72-13.88,4.1l-50.93,15.34c-.84.25-1.67.52-2.52.71-4.8,1.09-6-.08-5.18-4.86.48-2.69.9-5.39,1.39-8.35l-7.55-.95.06-1.37H326c6,0,6,0,7-5.76,1-5.51,2-11,3-16.81,10.74-.26,21.17-1.25,29.76-9.11L350.66,85.5c4.37,0,7.77.06,11.17,0,10.87-.23,8.24,1.94,12-7.82,2.73-7,6.39-10.26,13.88-8.77a26.52,26.52,0,0,0,4.8,0c.58,4.51,1.24,8.79,1.66,13.1.23,2.43,1.12,3.58,3.73,3.49,4.37-.15,8.75-.14,13.12,0,3.1.09,3.75-1.18,3.35-4.11-2.56-18.55-5-37.13-7.42-55.7-.06-.48-.06-1-.15-2.51a20.61,20.61,0,0,1,1.68,2.73c3.58,9.86,7.19,19.7,10.6,29.62A11.86,11.86,0,0,1,419.4,61c-1.09,7-2.33,14-3.66,21-.48,2.51.31,3.44,2.84,3.37,4.12-.11,8.25-.14,12.37,0,2.42.09,3.32-1,3.64-3.21.46-3.08,1.37-6.12,1.58-9.22.51-7.63,3.77-14,8-20.17,6.73-9.77,13-19.82,19.46-29.8.61-1,1.29-2.53.9-3.29s-2.07-.87-3.19-1.25a1.13,1.13,0,0,0-.37,0c-4.61.1-10.05-1.28-13.61.71s-5.23,7.31-7.65,11.23c-2.22,3.59-4.33,7.25-6.88,11.55-1.73-6.9-3.42-13.08-4.77-19.34-.67-3.1-2-4.26-5.28-4.21-12,.18-24,.11-36-.1-3-.05-4.48,1-5.66,3.64C378.43,28.12,375.39,34.11,372.48,40.16Z" /><path class="cls-4" d="M184.5,52.53l-5.92-.4V40.67l5.92-.43c0-2.5-.15-5,.07-7.38.09-1,.81-2.56,1.55-2.76C190.53,28.89,195,28,200,26.9V40.33h10.17V52.19H200.3c0,5.35-.41,10.33.13,15.2.42,3.79,3.92,4.64,9.11,2.86,2-14,5.56-16.56,27.43-19.76a4.13,4.13,0,0,0-4.36-4.79,91.94,91.94,0,0,0-12.83,1.54A17.66,17.66,0,0,0,216,48.83c-.89-3.08-1.81-5.91-2.46-8.8a2.65,2.65,0,0,1,1.07-2.3c9.15-3.79,18.6-5.45,28-1.55,8,3.3,10.28,10.42,10.36,18.41.1,9.36,0,18.73,0,28.38H240l-1.25-3.19c-11.9,8-23.55,4.56-28.7-4.75a47.42,47.42,0,0,0,0,5.12c.25,2.27-.8,3.31-2.87,3.4-3.61.16-7.27.59-10.82.18-6.08-.71-10-4.44-11-10.58-.72-4.28-.64-8.69-.82-13C184.42,57.63,184.5,55.16,184.5,52.53Zm52.75,8c-3.09.8-6.06,1.2-8.7,2.35a5.29,5.29,0,0,0-2.68,7.22c1.23,2.51,4.44,3.42,7.45,2.12C237.21,70.56,238.36,67.55,237.25,60.55Z" /><path class="cls-5" d="M225.38,84.71a18.23,18.23,0,0,1-4.31-.51,17.73,17.73,0,0,1-10.57-7.46,25.12,25.12,0,0,0,.07,3.34A3.66,3.66,0,0,1,209.9,83,3.58,3.58,0,0,1,207.22,84l-2.6.15a47,47,0,0,1-8.3,0c-6.33-.74-10.41-4.64-11.48-11a70.77,70.77,0,0,1-.72-9.85c0-1.09-.06-2.18-.1-3.26-.07-1.7-.05-3.37,0-5.14,0-.65,0-1.31,0-2l-5.92-.4V40.21l5.92-.43c0-.56,0-1.12,0-1.68a48.84,48.84,0,0,1,.1-5.28c.1-1.12.9-2.92,1.91-3.19,3.3-.91,6.64-1.63,10.17-2.4l3.69-.81.61-.14V39.83h10.17V52.69H200.8c0,1.47,0,2.91-.08,4.33a76.29,76.29,0,0,0,.21,10.31A3.43,3.43,0,0,0,202.42,70c1.39.88,3.7.83,6.67-.15,2.07-14,5.79-16.64,27.4-19.82a3.84,3.84,0,0,0-1-2.73,3.78,3.78,0,0,0-2.92-1.12A73.11,73.11,0,0,0,222,47.38l-2.16.35a7.86,7.86,0,0,0-2.22.88c-.43.22-.89.45-1.39.67l-.52.23-.16-.55c-.24-.83-.48-1.65-.72-2.46-.65-2.19-1.27-4.25-1.74-6.38a3.11,3.11,0,0,1,1.37-2.87c11-4.54,20-5,28.42-1.55,7.08,2.92,10.57,9.09,10.67,18.86.07,6.52.05,12.9,0,19.66q0,4.33,0,8.73v.5H239.65l-1.15-2.94A24.54,24.54,0,0,1,225.38,84.71ZM209.53,73.08l.94,1.7a16.92,16.92,0,0,0,10.84,8.46c5.37,1.3,11.46-.08,17.15-3.88L239,79l1.35,3.46h12.25q0-4.15,0-8.23c0-6.75,0-13.13,0-19.64-.1-9.46-3.29-15.16-10.05-18-8.17-3.37-17-2.88-27.65,1.55a2.29,2.29,0,0,0-.78,1.73c.46,2.09,1.07,4.14,1.72,6.31l.56,1.91.82-.41a8.54,8.54,0,0,1,2.52-1l2.16-.34a73.85,73.85,0,0,1,10.74-1.2,4.87,4.87,0,0,1,3.66,1.44,5,5,0,0,1,1.21,3.89l0,.4L237,51c-21.72,3.18-25,5.53-27,19.34l0,.3-.29.1c-3.41,1.17-6.12,1.22-7.82.14a4.38,4.38,0,0,1-2-3.42A77.12,77.12,0,0,1,199.72,57c0-1.57.08-3.17.08-4.8v-.5h9.82V40.83H199.45V27.52l-3.09.68c-3.52.77-6.84,1.49-10.12,2.39a3.41,3.41,0,0,0-1.18,2.32,47.2,47.2,0,0,0-.1,5.17c0,.72,0,1.44,0,2.16v.46l-5.92.43V51.66l5.92.4v.47c0,.83,0,1.65,0,2.45,0,1.76,0,3.42,0,5.09,0,1.09.07,2.18.1,3.28a70,70,0,0,0,.71,9.71c1,5.87,4.76,9.48,10.61,10.16a45.94,45.94,0,0,0,8.12,0c.87-.05,1.75-.11,2.62-.15a2.65,2.65,0,0,0,2-.73,2.73,2.73,0,0,0,.43-2.11,26.85,26.85,0,0,1-.07-3.61c0-.52,0-1,0-1.57Zm21,.26a5.54,5.54,0,0,1-5.12-3,5.86,5.86,0,0,1-.24-4.58,5.79,5.79,0,0,1,3.17-3.32,31.93,31.93,0,0,1,5.94-1.72c.93-.21,1.87-.42,2.83-.66l.53-.14.09.54c1.13,7.09,0,10.4-4.22,12.23A7.5,7.5,0,0,1,230.54,73.34Zm6.29-12.16c-.79.19-1.56.37-2.33.54a31.21,31.21,0,0,0-5.76,1.66,4.79,4.79,0,0,0-2.63,2.75,4.86,4.86,0,0,0,.2,3.79c1.11,2.27,4,3.07,6.8,1.88C236.75,70.21,237.75,67.41,236.84,61.17Z" /><path class="cls-6" d="M300.6,42.87V35.44l6.13-.4a52.41,52.41,0,0,1,.11-7.35,4.16,4.16,0,0,1,2.27-2.9c4-1.18,8.21-2,12.91-3V35l5.86.44V46.86a12.43,12.43,0,0,1-3.21.21c-4.32-.84-5.49,1.38-6,5.2-1.26,8.65-2.91,17.24-4.42,25.86-.21,1.19-.51,2.36-.81,3.76a11,11,0,0,1-5.92-9c-.52-6.21-.54-12.46-.73-18.69-.06-2.11,0-4.23,0-6.7h-5.07V83H286.39c-.05-1.11-.15-2.3-.15-3.49,0-7,0-14,0-21a34.89,34.89,0,0,0-.11-3.74c-.55-5.06-3.12-7.79-7.06-7.59s-7,3.6-7,8.27c-.09,9.1,0,18.19,0,27.56H256.4V35.49h13l.92,5.06c4.45-4.61,9.59-6.67,15.58-6.27a15.82,15.82,0,0,1,13.8,8.93Z" /><path class="cls-6" d="M142.08,83H126.76c-.06-1.19-.15-2.38-.16-3.57,0-6.87,0-13.74,0-20.61,0-1.12,0-2.25-.06-3.37-.47-5.68-2.9-8.54-7.07-8.38s-7.12,3.72-7.16,8.92c-.07,8.85,0,17.71,0,26.87H96.74V35.44h13l.93,4.58c.77-.53,1.35-.86,1.85-1.28a18.36,18.36,0,0,1,19.3-3.32C138.75,38,141.66,44,142,50.76,142.42,61.33,142.08,71.95,142.08,83Z" /><path class="cls-6" d="M145.64,69.46a84,84,0,0,0,8.46,2.72,20.32,20.32,0,0,0,7,.32A4.44,4.44,0,0,0,164,69.74c.23-.86-.95-2.44-1.9-3.18-1.14-.88-2.71-1.2-4.08-1.8a65,65,0,0,1-6.47-2.91c-4.75-2.72-7.79-6.64-7.51-12.42a14.3,14.3,0,0,1,8.76-12.94c7.43-3.5,15.06-2.89,22.61-.34A2.92,2.92,0,0,1,177,38.46c-.52,3.15-1.38,6.24-2,9.06-3.94-.78-7.42-1.8-10.94-2-1.48-.09-3.06,1.5-4.59,2.33,1,1.34,1.8,3.16,3.15,3.92,2.81,1.57,6,2.41,8.91,3.86,5.55,2.78,8.35,7.37,8,13.64s-3.62,10.63-9.35,12.82c-8.27,3.16-16.63,2.6-24.92-.26-1.91-.66-2.45-1.66-1.81-3.67C144.35,75.33,144.91,72.42,145.64,69.46Z" /><path class="cls-6" d="M92.87,83H78c-3-16.75,4.24-31.78,7.41-47.62h7.49Z" /><path class="cls-6" d="M85.39,14.74c5,0,8.35,3.29,8.28,8.11-.07,4.54-3.46,7.68-8.32,7.69s-8.17-3.12-8.24-7.74C77,18,80.36,14.73,85.39,14.74Z" /><path class="cls-3" d="M341.5,31.9h3.59c3,0,6.35-.13,7.56,3.36a9.45,9.45,0,0,1-2.2,9.72c-3,3.37-6.94,4.05-11.78,3.36Z" /><path class="cls-3" d="M383.58,54.91,390.3,40l1.76,14.88Z" /></g></g>
    </svg>
</div>

<script>
    function callus() {
        console.clear();
        // ewallet api
        $.post("@String.Format("{0}/api/EwalletGetNewOrderKey/", Model.MerchantApi)", {
            MerchantUniqueKey: '@Model.MerchantGuid',
            MerchantPublicKeyToken: '@Model.MerchantPublicTokenKey',
            MerchantWebSiteCallBackAddress: '@Model.MerchantWebSiteCallBackAddress'
        }, function (data) {
            console.log(data);
            var token = data["KeyOfTokenGuid"];
            var res = data["ResultAnswer"];
            var resCode = res["ResultCode"];
            var resDate = res["ResultDate"];
            var resText = res["ResultText"];
            if (resCode == 200) {
                window.location = '@(Model.MerchantParentAddress)'+'User/CheckoutLogin?src=instant-checkout&token=' + token
            } else {
                console.log("[".concat(resDate, "] ", resText));
            }
        });
    }
</script>
